.dashboard-container {
  background-color: $container-color;
  height: 50vh;
  width: 80vw;
  border-radius: 5%;
  color: black;

  .dashboard-body {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: auto;
    a {
      font-size: 1.5rem;
      border-radius: 50px;
      color: #fff;
      background: $gradient-color;
      margin-top: 2rem;
      margin-bottom: 3rem;
      padding: 1rem;
    }
  }
}
button {
  font-size: 1.5rem;
  border-radius: 50px;
  color: #fff;
  background: $gradient-color;
  padding: 1rem;
  border: none;
}
