@import "config";

.forgotPassword-container {
  background-color: $container-color;
  height: 50vh;
  width: 80vw;
  border-radius: 5%;
  color: black;

  .login-signup-switch {
    border: 1px grey solid;
    text-align: center;
    margin: 1rem;
    margin-top: 3rem;
    border-radius: 50px;
    display: flex;

    .login-signup {
      flex: 1;
      text-decoration: none;
      margin: 0;
      padding: 0.5rem;
      border-radius: 50px;
    }

    .login-btn {
      color: #333;
    }
    .signup-btn {
      background: $gradient-color;
      padding: 8px 10%;
      color: #fff;
    }
  }
  form {
    input {
      margin: 1rem;
      width: 80%;
      border: none;
      border-bottom: 1px #c7c7c7 solid;
      background-color: $container-color;
    }
    .form-btn {
      font-size: 1.5rem;
      border-radius: 50px;
      color: #fff;
      background: $gradient-color;
      margin-top: 2rem;
      margin-bottom: 3rem;

      padding: 1rem;
    }
  }
  .login-btn {
    text-decoration: none;
    font-size: 1rem;
    border-radius: 50px;
    color: #fff;
    background: $gradient-color;
    padding: 1rem 2rem;
    margin-top: 1rem;
  }
}
.signup-div {
  color: white;
  a {
    color: #fff;
    text-decoration: none;
  }
}
