@import "config";

.update-container {
  background-color: $container-color;
  height: 50vh;
  width: 80vw;
  border-radius: 5%;
  color: black;

  form {
    input {
      margin: 1rem;
      width: 80%;
      border: none;
      border-bottom: 1px #c7c7c7 solid;
      background-color: $container-color;
    }
    .form-btn {
      font-size: 1.5rem;
      border-radius: 50px;
      color: #fff;
      background: $gradient-color;
      margin-top: 2rem;
      margin-bottom: 3rem;

      padding: 1rem;
    }
  }
  .forgot-password {
    text-decoration: none;
    font-size: 1rem;
    border-radius: 50px;
    color: #fff;
    background: $gradient-color;
    padding: 1rem;
    margin-top: 1rem;
  }
}

a {
  color: #fff;
  text-decoration: none;
}
