@import "styles/signup";
@import "styles/login";
@import "styles/forgotPassword";
@import "styles/update";
@import "styles/dashboard";
@import "styles/tweets";
@import "styles/following";
@import "styles/profileIcon";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: $gradient-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  img {
    margin: auto;
    margin-top: -50%;
    margin-bottom: 5%;
  }
}

.App-link {
  color: #61dafb;
}
